.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #001c55;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 40px;
}

.logo-text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  gap: 25px;
  background-color: #003366;
  padding: 12px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #003368;
}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-bar a:hover {
  color: #6eeb83;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .nav-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
}

