.auth-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--secondary-dark);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  color: var(--text-light);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-light);
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--accent-blue);
  background-color: var(--primary-dark);
  color: var(--text-light);
  font-size: 16px;
}

.auth-container input::placeholder {
  color: var(--text-gray);
}

.auth-container button {
  padding: 12px;
  background-color: var(--accent-green);
  color: var(--primary-dark);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.auth-container button:hover {
  background-color: var(--accent-green-hover);
}

.auth-container p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: var(--accent-blue);
}

.auth-link:hover {
  cursor: pointer;
  color: var(--accent-green-hover);
}